#catalogue {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 1rem;
    border: .1px rgb(198, 198, 198) solid;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.card p {
    padding: 0 .5rem;
}

.wrapper h2 {
    padding: 2rem;
    padding-bottom: .5rem;
    color: rgb(207, 44, 44);
}

.cardTitre {
    font-weight: 900;
    background-color: rgb(207, 44, 44);
    color: #fff;
}

.cardArtiste {
    font-size: .8rem;
}

.cardAnnee {
    position: absolute;
    right: 1rem;
    top: 1rem;
    transform: rotate(20deg);
    font-style: italic;
    font-size: .7rem;
    font-weight: 900;
    background-color: rgb(207, 44, 44);
    color: #fff;
    padding: .5rem .7rem;
}

.card a {
    display: block;
    font-weight: 900;
    color: rgb(207, 44, 44);
    text-align: center;
    width: 100%;
    text-decoration: none;
 margin-top: auto;
}

.card a:hover {
    cursor: pointer;
    background-color: #cfe3ff;
   

}

@media screen and (min-width:576px) {
    .card {
        width: 30%;
    }
}